# dependencies
/node_modules

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# build
/dist
/build

# misc
.DS_Store
/generated/prisma

# ferramentas de AI/agents (se não quiser versionar configs locais)
.claude/
.agents/
.windsurf/

# IDE / editores
.vscode/
.idea/
